body {
    overflow: scroll;
    background-image: url("/static/jpg/background.png");
    border-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#top {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    padding: 0%;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 0%;
    background-color: rgba(102, 204, 255, 1);
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
}

#middle {
    display: block;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    bottom: 70px;
    top: 100px;
    padding: 0%;
}


h1 {
    font-family: Geneva, Tahoma;
    font-size: calc(1em + 3vw);
    color: rgba(0, 0, 0, 1);
    margin-top: 0%;
    margin-bottom: 0%;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 31%;
    height: 100px;
    border-radius: 5px;
}

.discriminant {
    border-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    font-size: 16pt;
    border-radius: 5px;
    background-color: rgba(102, 204, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.t {
    border-style: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 204, 255, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    width: 49%;
    height: 100px;
    margin-top: 20px;
    font-size: 16pt;
    border-radius: 5px;
    display: inline-block;
}

.x {
    border-style: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 204, 255, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    width: 24%;
    height: 100px;
    margin-top: 20px;
    font-size: 16pt;
    border-radius: 5px;
    display: inline-block;
}

button {
    height: 100px;
    width: 200px;
    background-color: rgba(102, 204, 255, 1);
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
}

button:hover {
    border-radius: 10px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.75);
}

img {
    width: 100%;
}
