body {
    overflow: scroll;
    background-image: url("/static/jpg/background.png");
    border-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#top {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    padding: 0%;
    border-radius: 0% 0% 5% 5%;
    margin-bottom: 0%;
    background-color: rgba(102, 204, 255, 1);
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
}

h1 {
    font-family: Geneva, Tahoma;
    font-size: calc(1em + 3vw);
    color: rgba(0, 0, 0, 1);
    margin-top: 0%;
    margin-bottom: 0%;
}

#middle {
    display: block;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    bottom: 70px;
    top: 100px;
    padding: 0%;
}

img {
    width: 100%;
}