<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/graph.css">
    <link rel="shortcut icon" type="imge/x-icon" href="/static/jpg/favicon.ico">
    <title>График квадратной функции</title>
</head>
<body>
    <a href="/quadraticequation"><div id="top"><h1>ГРАФИК КВАДРАТНОЙ ФУНКЦИИ</h1></div></a>
    <div id="middle">
        <img alt="no image" src="/static/graph/{{ jpg }}">
    </div>
</body>
</html>
