<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/quadraticequation.css">
    <link rel="shortcut icon" type="imge/x-icon" href="/static/jpg/favicon.ico">
    <title>Решение квадратных уравнений</title>
</head>
<body>
    <a href="/"><div id="top"><h1>решение квадратных уравнений</h1></div></a>
    <div id="middle">
        <form method="post">
            <input required name="a" type="number" step="any" placeholder="коэффициент A">
            <input required name="b" type="number" step="any" placeholder="коэффициент B">
            <input required name="c" type="number" step="any" placeholder="коэффициент C">
            <br>
            <button type="submit"><h3>решить уравнение<h3></h3></button>
        </form>
        <div>
            <div class="ans">Дискриминант = <br>{{ discriminant }}</div>
            <div class="ans">x1 = <br>{{ x1 }}</div>
            <div class="ans">x2 = <br>{{ x2 }}</div>
        </div>
        <br>
        <a href="/quadraticequation/graph/{{ jpg }}"><button type><h3>построить график<h3></h3></button></a>
    </div>
</body>
</html>
